* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

h2{
    color: black;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    height: 250px;
    background-color: white;
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

.card img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 10px;
}

.card h2{
    font-size: 20px;
    text-align: center;
}

.card i {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    opacity: 0;
    background-image: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: all cubic-bezier(.75, .99, .75, 1.6) 0.5s;
    transform: translate(-50%, -50%) scale(0) rotate(-60deg)
}