* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

html, body  {
    height: 100%;
    width: 100%;
    background-color: black;
}

#box {
    height: 100px;
    width: 100px;
    /* background: linear-gradient(red,yellow, blue); */
    justify-content: center;
    display: flex;
    font-size: large;
}

button {
    background-color: crimson;
}