* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

body {
    overflow: hidden;
}
main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    width: 500px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 30px
}

.card p{
    text-align: center;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 500;
}

.card p span{
    font-weight: 600;
    color: royalblue;
}

.outer{
    height: 20px;
    border-radius: 50px;
    width: 100%;
    background-color: rgb(197, 197, 197);
}

.inner{
    height: 100%;
    width: 0%;
    border-radius: 50px;
    background-color: green;
}

.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.bottom h2{
    font-size: 40px;
}

.bottom button{
    padding: 12px;
    background-color: green;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    border: 0;
    cursor: pointer;
}

.bottom button:active {
    scale: 0.95;
}