* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

h3{
    color: black;
}

p {
    color: black;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    /* height: 350px; */
    width: 300px;
    background-color: white;
    text-align: center;
    padding: 30px;
    border-radius: 30px;
}

.card img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
}

.card h3{
    font-size: 26px;
    white-space: nowrap;
}

.card h4 {
    font-size: 18px; 
    margin-top: 10px;
    color: crimson;
    margin-bottom: 10px;
}

.card p{
    font-size: 13px;
}